In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
# Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
#Drop 'EIN' Column
application_df = application_df.drop(columns = ['EIN'])

I reintroduced the 'name' column because I though

In [4]:
# Determine the number of unique values in each column.
for col in application_df.columns:
    print(col, len(application_df[col].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

Here we will use 'Name' Column :

In [5]:
# Look at NAME counts for binning
counts_Name = application_df['NAME'].value_counts()
counts_Name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_Name[counts_Name<10].index)

# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
counts_ApplicationTYPE = application_df['APPLICATION_TYPE'].value_counts()
counts_ApplicationTYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts_ApplicationTYPE[counts_ApplicationTYPE<300].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
counts_Classification = application_df['CLASSIFICATION'].value_counts()
counts_Classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (counts_Classification[counts_Classification<100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 7)                 1911
_________________________________________________________________
dense_1 (Dense)              (None, 14)                112
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 15
=================================================================
Total params: 2,038
Trainable params: 2,038
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
611/611 [==============================] - 7s 8ms/step - loss: 0.5483 - accuracy: 0.7361 - val_loss: 0.4663 - val_accuracy: 0.7804
Epoch 2/100
611/611 [==============================] - 5s 7ms/step - loss: 0.4619 - accuracy: 0.7764 - val_loss: 0.4486 - val_accuracy: 0.7856
Epoch 3/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4524 - accuracy: 0.7809 - val_loss: 0.4474 - val_accuracy: 0.7882
Epoch 4/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4486 - accuracy: 0.7809 - val_loss: 0.4464 - val_accuracy: 0.7856
Epoch 5/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4464 - accuracy: 0.7836 - val_loss: 0.4437 - val_accuracy: 0.7879
Epoch 6/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4442 - accuracy: 0.7853 - val_loss: 0.4425 - val_accuracy: 0.7850
Epoch 7/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4421 - accuracy: 0.7861 - val_loss: 0.4416 - val_accuracy: 0.7900
Epoch 8/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4413 - accuracy: 0.7863 - val_loss: 0.4405 - val_accuracy: 0.7845
Epoch 9/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4400 - accuracy: 0.7877 - val_loss: 0.4412 - val_accuracy: 0.7894
Epoch 10/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4393 - accuracy: 0.7874 - val_loss: 0.4396 - val_accuracy: 0.7894
Epoch 11/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4383 - accuracy: 0.7876 - val_loss: 0.4393 - val_accuracy: 0.7879
Epoch 12/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4375 - accuracy: 0.7882 - val_loss: 0.4417 - val_accuracy: 0.7885
Epoch 13/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4367 - accuracy: 0.7883 - val_loss: 0.4409 - val_accuracy: 0.7926
Epoch 14/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4364 - accuracy: 0.7894 - val_loss: 0.4396 - val_accuracy: 0.7911
Epoch 15/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4358 - accuracy: 0.7891 - val_loss: 0.4385 - val_accuracy: 0.7911
Epoch 16/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4357 - accuracy: 0.7896 - val_loss: 0.4412 - val_accuracy: 0.7885
Epoch 17/100
611/611 [==============================] - 5s 7ms/step - loss: 0.4352 - accuracy: 0.7889 - val_loss: 0.4398 - val_accuracy: 0.7871
Epoch 18/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4346 - accuracy: 0.7897 - val_loss: 0.4422 - val_accuracy: 0.7891
Epoch 19/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4347 - accuracy: 0.7904 - val_loss: 0.4429 - val_accuracy: 0.7891
Epoch 20/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4346 - accuracy: 0.7892 - val_loss: 0.4405 - val_accuracy: 0.7891
Epoch 21/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4343 - accuracy: 0.7889 - val_loss: 0.4417 - val_accuracy: 0.7894
Epoch 22/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4342 - accuracy: 0.7907 - val_loss: 0.4414 - val_accuracy: 0.7871
Epoch 23/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4337 - accuracy: 0.7896 - val_loss: 0.4437 - val_accuracy: 0.7850
Epoch 24/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4338 - accuracy: 0.7899 - val_loss: 0.4423 - val_accuracy: 0.7868
Epoch 25/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4331 - accuracy: 0.7892 - val_loss: 0.4412 - val_accuracy: 0.7876
Epoch 26/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4331 - accuracy: 0.7907 - val_loss: 0.4431 - val_accuracy: 0.7868
Epoch 27/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4329 - accuracy: 0.7908 - val_loss: 0.4427 - val_accuracy: 0.7856
Epoch 28/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4330 - accuracy: 0.7906 - val_loss: 0.4415 - val_accuracy: 0.7862
Epoch 29/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4326 - accuracy: 0.7913 - val_loss: 0.4418 - val_accuracy: 0.7865
Epoch 30/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4322 - accuracy: 0.7908 - val_loss: 0.4428 - val_accuracy: 0.7874
Epoch 31/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4321 - accuracy: 0.7904 - val_loss: 0.4434 - val_accuracy: 0.7865
Epoch 32/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4319 - accuracy: 0.7913 - val_loss: 0.4421 - val_accuracy: 0.7874
Epoch 33/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4313 - accuracy: 0.7909 - val_loss: 0.4419 - val_accuracy: 0.7876
Epoch 34/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4314 - accuracy: 0.7912 - val_loss: 0.4413 - val_accuracy: 0.7882
Epoch 35/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4317 - accuracy: 0.7909 - val_loss: 0.4433 - val_accuracy: 0.7888
Epoch 36/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4315 - accuracy: 0.7910 - val_loss: 0.4412 - val_accuracy: 0.7879
Epoch 37/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4309 - accuracy: 0.7912 - val_loss: 0.4407 - val_accuracy: 0.7865
Epoch 38/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4306 - accuracy: 0.7916 - val_loss: 0.4413 - val_accuracy: 0.7885
Epoch 39/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4306 - accuracy: 0.7908 - val_loss: 0.4412 - val_accuracy: 0.7876
Epoch 40/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4302 - accuracy: 0.7921 - val_loss: 0.4423 - val_accuracy: 0.7885
Epoch 41/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4304 - accuracy: 0.7917 - val_loss: 0.4405 - val_accuracy: 0.7888
Epoch 42/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4301 - accuracy: 0.7919 - val_loss: 0.4425 - val_accuracy: 0.7871
Epoch 43/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4300 - accuracy: 0.7915 - val_loss: 0.4412 - val_accuracy: 0.7871
Epoch 44/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4297 - accuracy: 0.7919 - val_loss: 0.4416 - val_accuracy: 0.7897
Epoch 45/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4293 - accuracy: 0.7915 - val_loss: 0.4420 - val_accuracy: 0.7865
Epoch 46/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4292 - accuracy: 0.7923 - val_loss: 0.4433 - val_accuracy: 0.7876
Epoch 47/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4293 - accuracy: 0.7929 - val_loss: 0.4438 - val_accuracy: 0.7888
Epoch 48/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4290 - accuracy: 0.7921 - val_loss: 0.4425 - val_accuracy: 0.7876
Epoch 49/100
611/611 [==============================] - 5s 7ms/step - loss: 0.4290 - accuracy: 0.7931 - val_loss: 0.4401 - val_accuracy: 0.7891
Epoch 50/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4287 - accuracy: 0.7923 - val_loss: 0.4418 - val_accuracy: 0.7868
Epoch 51/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4285 - accuracy: 0.7930 - val_loss: 0.4419 - val_accuracy: 0.7891
Epoch 52/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4285 - accuracy: 0.7929 - val_loss: 0.4435 - val_accuracy: 0.7871
Epoch 53/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4284 - accuracy: 0.7915 - val_loss: 0.4416 - val_accuracy: 0.7876
Epoch 54/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4286 - accuracy: 0.7925 - val_loss: 0.4409 - val_accuracy: 0.7888
Epoch 55/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4278 - accuracy: 0.7936 - val_loss: 0.4421 - val_accuracy: 0.7885
Epoch 56/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4282 - accuracy: 0.7926 - val_loss: 0.4430 - val_accuracy: 0.7882
Epoch 57/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4283 - accuracy: 0.7918 - val_loss: 0.4412 - val_accuracy: 0.7882

Epoch 58/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4277 - accuracy: 0.7920 - val_loss: 0.4421 - val_accuracy: 0.7897
Epoch 59/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4280 - accuracy: 0.7927 - val_loss: 0.4416 - val_accuracy: 0.7874
Epoch 60/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4278 - accuracy: 0.7920 - val_loss: 0.4428 - val_accuracy: 0.7882
Epoch 61/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4276 - accuracy: 0.7926 - val_loss: 0.4416 - val_accuracy: 0.7876
Epoch 62/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4274 - accuracy: 0.7942 - val_loss: 0.4429 - val_accuracy: 0.7868
Epoch 63/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4275 - accuracy: 0.7934 - val_loss: 0.4445 - val_accuracy: 0.7874
Epoch 64/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4276 - accuracy: 0.7935 - val_loss: 0.4436 - val_accuracy: 0.7879
Epoch 65/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4270 - accuracy: 0.7940 - val_loss: 0.4424 - val_accuracy: 0.7868
Epoch 66/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4274 - accuracy: 0.7932 - val_loss: 0.4441 - val_accuracy: 0.7876
Epoch 67/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4271 - accuracy: 0.7934 - val_loss: 0.4424 - val_accuracy: 0.7876
Epoch 68/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4271 - accuracy: 0.7929 - val_loss: 0.4428 - val_accuracy: 0.7879
Epoch 69/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4271 - accuracy: 0.7940 - val_loss: 0.4436 - val_accuracy: 0.7865
Epoch 70/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4266 - accuracy: 0.7935 - val_loss: 0.4430 - val_accuracy: 0.7865
Epoch 71/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4267 - accuracy: 0.7929 - val_loss: 0.4431 - val_accuracy: 0.7891
Epoch 72/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4267 - accuracy: 0.7929 - val_loss: 0.4419 - val_accuracy: 0.7905
Epoch 73/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4267 - accuracy: 0.7940 - val_loss: 0.4430 - val_accuracy: 0.7874
Epoch 74/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4265 - accuracy: 0.7936 - val_loss: 0.4430 - val_accuracy: 0.7888
Epoch 75/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4263 - accuracy: 0.7938 - val_loss: 0.4420 - val_accuracy: 0.7882
Epoch 76/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4264 - accuracy: 0.7932 - val_loss: 0.4419 - val_accuracy: 0.7874
Epoch 77/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4262 - accuracy: 0.7934 - val_loss: 0.4441 - val_accuracy: 0.7888
Epoch 78/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4264 - accuracy: 0.7946 - val_loss: 0.4434 - val_accuracy: 0.7885
Epoch 79/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4257 - accuracy: 0.7936 - val_loss: 0.4441 - val_accuracy: 0.7888
Epoch 80/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4256 - accuracy: 0.7934 - val_loss: 0.4462 - val_accuracy: 0.7862
Epoch 81/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4266 - accuracy: 0.7938 - val_loss: 0.4444 - val_accuracy: 0.7871
Epoch 82/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4259 - accuracy: 0.7950 - val_loss: 0.4427 - val_accuracy: 0.7879
Epoch 83/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4260 - accuracy: 0.7936 - val_loss: 0.4440 - val_accuracy: 0.7874
Epoch 84/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4260 - accuracy: 0.7941 - val_loss: 0.4424 - val_accuracy: 0.7888
Epoch 85/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4262 - accuracy: 0.7945 - val_loss: 0.4433 - val_accuracy: 0.7885
Epoch 86/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4260 - accuracy: 0.7941 - val_loss: 0.4428 - val_accuracy: 0.7905
Epoch 87/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4258 - accuracy: 0.7939 - val_loss: 0.4419 - val_accuracy: 0.7876
Epoch 88/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4257 - accuracy: 0.7940 - val_loss: 0.4435 - val_accuracy: 0.7897
Epoch 89/100
611/611 [==============================] - 4s 7ms/step - loss: 0.4255 - accuracy: 0.7945 - val_loss: 0.4435 - val_accuracy: 0.7888
Epoch 90/100
611/611 [==============================] - 5s 7ms/step - loss: 0.4260 - accuracy: 0.7930 - val_loss: 0.4427 - val_accuracy: 0.7900
Epoch 91/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4257 - accuracy: 0.7949 - val_loss: 0.4429 - val_accuracy: 0.7876
Epoch 92/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4257 - accuracy: 0.7934 - val_loss: 0.4438 - val_accuracy: 0.7891
Epoch 93/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4256 - accuracy: 0.7941 - val_loss: 0.4423 - val_accuracy: 0.7900
Epoch 94/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4256 - accuracy: 0.7939 - val_loss: 0.4417 - val_accuracy: 0.7900
Epoch 95/100
611/611 [==============================] - 5s 8ms/step - loss: 0.4256 - accuracy: 0.7948 - val_loss: 0.4431 - val_accuracy: 0.7879
Epoch 96/100
525/611 [========================>.....] - ETA: 0s - loss: 0.4222 - accuracy: 0.7967

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Export model to HDF5 File
nn.save('Models/AlphabetSoupCharity_Optimization.h5')